.btsorange {
  background-color: #ff420f;
  font-family: 'Changa', sans-serif;
  font-size: 3vw;
}

.btswhite {
  background-color: white;
  font-family: 'Exo 2', sans-serif;
  color: #ff420f
}

table {
    display: block;
    height: 55vh;
    overflow-y: scroll;
    font-weight: bold;
}



/* @table_width: 750px;
@table_body_height: 300px;
@column_one_width: 200px;
@column_two_width: 200px;
@column_three_width: 350px;
.fixedHeader {
  width: @table_width;
  table-layout: fixed;
  border-collapse: collapse;

  th { text-decoration: underline; }
  th, td {
    padding: 5px;
    text-align: left;
  }

  td:nth-child(1), th:nth-child(1) { min-width: @column_one_width; }
  td:nth-child(2), th:nth-child(2) { min-width: @column_two_width; }
  td:nth-child(3), th:nth-child(3) { width: @column_three_width; }

  thead {
    background-color: @header_background_color;
    color: @header_text_color;
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: @table_body_height;
    tr:nth-child(even) {
      background-color: @alternate_row_background_color;
    }
  }
} */
/* @table_width: 750px;
.fixedHeader {
  border-collapse: collapse;
  width: @table_width;
  table-layout: fixed;
} */


  /* tr {
     display: block;
    position: relative;
  } */


/* tbody {
  display: block;
  overflow: auto;
} */

#saved {
  color: #53A451;
}

#mainContainer {
  height:110vh;
}
