.btsorange {
  background-color: #ff420f;
  font-family: 'Changa', sans-serif;
  font-size: 3vw;
}

.btswhite {
  background-color: white;
  font-family: 'Exo 2', sans-serif;
  color: #ff420f
}

table {
  overflow-x: scroll
  overflow-y: scroll
}

#saved {
  color: #53A451;
}
