.btsorange {
  background-color: #ff420f;
  font-family: 'Changa', sans-serif;
  font-size: 3vw;
}

.btswhite {
  background-color: white;
  /* font-family: 'Changa', sans-serif; */
  font-family: 'Exo 2', sans-serif;
  /* font-family: 'Bungee Inline', cursive; */
  color: #ff420f;
}

.btsTitle {
  font-family: 'Changa', sans-serif;
  font-weight: 900;
  font-size: 150%;
  /* font-family: 'Exo 2', sans-serif; */
  /* font-family: 'Bungee Inline', cursive; */
  color: #ff420f;
}

.table {
    display: block;
    height: 57vh;
    overflow-y: scroll;
    font-weight: bold;
    margin-bottom: 0rem;
}

#saved {
  color: #53A451;
}

#mainContainer {
  height:110vh;
  width: 101vw;
}

#vs{
  font-family: 'Bungee Shade', cursive;
  font-size: 200%;
  padding-top: 30px;
}

.vs {
  font-family: 'Bungee Inline', cursive;
  /* font-family: 'Bungee Outline', cursive; */
  font-size: 120%;
  padding-top: 10px;
}

#carMpg {
  font-family: 'Bungee Inline', cursive;
  /* font-family: 'Bungee Outline', cursive; */
  font-size: 110%;
  color: #ff420f;
  width: 70%
}

#busMpg {
  font-family: 'Bungee Inline', cursive;
  /* font-family: 'Bungee Outline', cursive; */
  font-size: 110%;
  color: #ff420f;
  width: 70%
}

#lecture {
  font-family: 'Bungee Inline', cursive;
  font-size: 95%;
  text-align: center;
}
